table{
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

td, th{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

#aboutus{
  color: blue;
  text-shadow:4px 4px 7px cornflowerblue;
}

#song{
  margin-top: 30px;
}