@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';

body{
    font-family: 'Kanit', sans-serif;
}

h1,h2,h3{
    font-family: 'Prompt', sans-serif;
}

table{
  margin-top: 20px;
  border-collapse: collapse;
  border-style: solid;
  border-width: 3px;
  width: 60%;
}

/* .container{
  box-shadow: 0 5px 20px slategrey;
  width: 50%;
  padding-left: 30%;
} */

td, th{
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
}

td{
  font-weight: normal;
}

.th2{
  text-align: left;
  font-weight: normal;
}

.th1{
  text-align: right;
  width: 50%;
}

#aboutus{
  color: blue;
  text-shadow:4px 4px 7px cornflowerblue;
  font-size: xx-large;
}

#favsong{
  color: rgb(255, 0, 0);
  text-shadow:4px 4px 7px rgb(237, 150, 100);
  font-size: xx-large;
  margin-bottom: 15px;
}

h4{
  font-size: xx-large;
}